<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularJS - Todo</title>
    <link href="Assets/app.css" rel="stylesheet" type="text/css" />
    <link href="Assets/base.css" rel="stylesheet" type="text/css" />
</head>
    <body  ng-controller="TodoController">
        <div id="todoapp">
            <header>
                <h1>Todos</h1>
                <form id="todo-form" ng-submit="addTodo()">
                    <input type="text" id="new-todo" name="newTodo" ng-model="newTodo" placeholder="What needs to be done?">
                </form>

            </header>
            <section id="main">
                <ul id="todo-list">
                    <li ng-repeat="todo in todos">
                        <div class="view">
                            <input type="checkbox" class="toggle" ng-model="todo.completed">
                            <label ng-bind="todo.title">Loading...</label>
                        </div>
                    </li>
                </ul>
            </section>

        </div>

        <script src="Scripts/angular-1.0.0rc10.js" type="text/javascript"></script>
        <script src="App/Todo.js" type="text/javascript"></script>
        <script src="App/TodoController.js" type="text/javascript"></script>
    </body>
</html>
